.grid2 {
   display: grid;
   grid-template-columns: 50%;
   grid-template-rows: auto;
   grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

.card2 {
   background-color: rgb(197, 200, 201);
   height: 100px;
   width: auto;
   margin: 5%;
   padding-top: 5%;
   border: black;
   border-style: solid;
   justify-content: center;
}

.underline {
   text-decoration: underline;
}
